h1 {
    background-image: linear-gradient(rgb(188, 188, 188),  rgb(192, 192, 192), rgb(238, 238, 238));
}

#title-bar {
    text-align-last: center;
    color:rgba(237, 216, 186, 0.892);
    background-color: rgba(95, 5, 5, 0.919);
    background-image: linear-gradient(rgb(255, 0, 0), rgb(182, 10, 10),   rgba(95, 5, 5, 0.919));
    padding: 2%;
    margin: 0px;
}

/* Navbar Start */

nav {
    background-color: black;
    background-size: 75px;
    background-position-y: bottom;
    background-repeat: repeat-x;
    background-image: url(images/fire_banner.png);
}

#tabHome:hover {
    color: red;
}

#tabDealership:hover {
    color: red;
}

#tabInquiry:hover {
    color: red;
}

#tabReview:hover {
    color: red;
}

#tabAbout:hover {
    color: red;
}

/* Navbar End */