#featuredVehicles {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(243, 152, 152);
  margin: 10px 20%;
}

#introduction {
  margin-left: 40px;
  font-size: 50px;
}

#searchFilter {
  padding: 10px 20%;
}

/* Search Tab Start */

#searchTabContent {
  margin: 0px 25%;
  padding: 30px;
  background-color: rgba(233, 172, 172, 0.705);
}

#searchTab button {
  color: rgb(163, 10, 10);
  background-color: rgba(233, 172, 172, 0.705);
}

#searchTab button:hover {
  background-color: black;
}

/* Search Tab End */

/* Carosel Start */

#carShowcase {
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
  height: 50%;
}

/* Carosel End */
