.card-title {
  font-weight: bold;
}

.card-vehicle {
  font-style: italic;
  margin-bottom: 20px;
}

.footer {
  margin-top: 20px;
}

#review-value {
  font-weight: bold;
}

/* Style the rating stars */

.rating-label {
  display: flex;
  margin-left: 200px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("emptyredstar.png"); /* Unselected star image */
  background-size: contain;
  background-repeat: no-repeat;
}

.rating input:checked + label,
.rating input:checked + label ~ input + label {
  background-image: url("filledredstar.png"); /* Selected star image */
}

/* Set the star image width and height */
.rating label {
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
}

textarea {
  width: 50%;
  padding: 30px;
}

.message {
  padding: 10px;
}

.error {
  color: white;
  background-color: red;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
}
