#info-block {
    padding: 10px;
    margin: 20px 40px; 
}

#info-block .section-head  {
    text-align: center;
}

#info-block #first-info-block {
    padding: 0px 0px 40px 0px;
}

#info-block #second-info-block {
    padding: 0px 0px 40px 0px;
}

#info-block #contact-info {
    text-align: center;
}

#info-block #hazmat-guy {
    text-align: center;
}