* {
    padding: 0;
    margin: 0;
}

h1.about-title {
    background-color: rgba(95, 5, 5, 0.919);
    background-blend-mode: luminosity;
    text-align-last: center;
    color:rgba(237, 216, 186, 0.892);
    padding: 3%;
    margin: 0px;
}

/* Navbar Start */

nav {
    background-color: black;
    background-image: url(fire_banner.png);
    background-position-y: bottom;
    background-size: 100px;
    background-repeat: repeat-x;
}

#tabDealership:hover {
    color: red;
}

#tabInquiry:hover {
    color: red;
}

#tabReview:hover {
    color: red;
}

#tabAbout:hover {
    color: red;
}

/* Navbar End */

#featuredVehicles {
    background-color: rgb(255, 124, 124);
}

/* Carosel Start */

#carShowcase {
    padding-right: 0px; 
    padding-left: 0px;
    /* margin-bottom: 500px; */
    height: 50%;
}

/* Carosel End */