* {
    padding: 0;
    margin: 0;
}

h1.about-title {
    background-color: rgba(95, 5, 5, 0.919);
    background-blend-mode: luminosity;
    text-align-last: center;
    color:rgba(237, 216, 186, 0.892);
    padding: 3%;
    margin: 0px;
}

/* Navbar start */

nav ul {
    background-color: black;
    background-image: url(fire_banner.png);
    background-position-y: bottom;
    background-size: 10%;
    background-repeat: repeat-x;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav li a:hover {
    background-color: red;
}

/* Navbar End*/

#carShowcase {
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 500px;
}